article {margin-bottom:2em;padding-bottom:2em;border-bottom:1px solid #ccc;}

.social a {
  padding: 0 .5em;
}

.page-header {
  margin-bottom:2rem;
}

textarea, input {
  display: block;
  width: 100%;
  background-color: #FCF5C7;
}
input {
  height: 36px;
  font-size: 24px;
}
textarea {
  height: 200px;
  font-size: 18px;
}